<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id = "student" class = "com.spring.DI.Student">
	<property name = "StudentName" value = "kaushik"/>
	<constructor-arg name = "id" value = "99"/>
	<constructor-arg name = "Email" value = "m@gmail.com"/>
	<property name = "mobileno" value = "6789"/>
	
</bean>

</beans> 